@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', sans-serif;
}

@utility btn {
  @apply py-2 px-9 rounded-md text-2xl cursor-pointer;
}


@utility minus-btn {
  @apply bg-purple-500 text-4xl py-1 text-white rounded;
}

@utility plus-btn {
  @apply bg-purple-500 text-4xl py-1 text-white rounded;
}

/* Reset Button */
@utility reset-btn {
  @apply bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md transition duration-300 ease-in;
}

